body {
  position: relative;
  background-color: rgba(184, 184, 164);
}
.card {
	margin: auto;
	margin-top: 30px;
	width: 320px;
	padding: 10px;
	border: 10px  20px 20px 20px;
	border: 1.5px solid grey;
	border-radius: 6px;
	background-image: url("bg.jpg");
}

h2 {
	margin-bottom: 15px;
	font-family: 'Pacifico', cursive;
	padding-left: 30px;
	color: #f74905;
	font-size: 2em;
	font-weight: 200;
	text-shadow: 3px 2px 5px rgba(170, 170, 170, 0.8);
}

img {
	width: 300px;
	border-radius: 6px 6px 0 0;
	margin: 0;
	box-shadow: 5px 5px 5px rgba(247, 73, 5, 0.2);
}

.text{
	margin: 0;
	width: 280px;	
	padding: 0px 10px 30px 10px;
	border: 0.6px solid gray;
	border-radius: 0 0 6px 6px;
	color: dimgrey;
	box-shadow: 5px 5px 5px rgba(247, 73, 5, 0.2);
	background-color: rgba(252, 252, 244, 0.77);
}

ul {
    list-style-type: none;
   	padding-left: 0;
}

p {
	width: 280px;
}

#info1 {
	font-style: italic;
}



